.l1{
    display: inline-block;
}


#mapid { 
    height: 400px;
    width: 400px; 
}

.container-fluid{
    background: #2B6F75;
    margin-top: 50px;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 25px;
    width: 80%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.31);
}

.row{
    padding-top: 5px;
    padding-bottom: 5px;
}

body{
    background-color: #353231;
    font-family: 'Roboto', sans-serif;
}

.titre{
    font-weight: bold;
}

#res{
    background-color: #E5E5EE;
    margin : 0px 25px 25px 25px;
    padding : 20px 50px 20px 50px;
    border-radius: 30px;
}


#form{
    background-color: #434374;
    margin : 0px 25px 25px 25px;
    padding : 20px 50px 20px 50px;
    border-radius: 30px;
}

#ville{
    border-radius: 10px;
}

p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.flex-column{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.31);
}